*{
    font-family: 'Oswald', sans-serif;
}
.signature{
    position: fixed;
    bottom: 0;
    right: 10;
    color: oldlace;
    font-weight: bold;
    text-decoration: underline;
}
@media only screen and (max-width: 400px){
    .signature{
        display: none;
    }
}
.table-area{
    background: rgba(19, 21, 27, 0.5);
    border: 2px solid rgb(19, 21, 27);
    border-radius: 5px;
    padding: 25px;
    color: #fff;
}
.table-area table {
    color: #fff;
}
body {
    background: url(images/bg.png) no-repeat center fixed;
    background-size: cover;
}
.navbar-inverse {
  background: rgba(0, 0, 0, 0.5);  
}